@use "../utils/mixins" as mixin;
@use "../utils/variables" as var;
@use "../utils/placeholders";

.hero {
   padding-block-start: clamp(30px, 8vw, 145px);
   padding-block-end: clamp(60px, 8vw, 145px);
   display: flex;
   flex-direction: column;
   gap: 40px;
   position: relative;
   &__title {
      display: flex;
      flex-direction: column;
      color: var.color(black);
      font-family: LEMON MILK;
      font-size:  clamp(22px, 5.2vw, 62px);
      font-weight: 500;
      line-height: 153.226%;
      letter-spacing: 0.992px;
      // text-transform: lowercase;
      position: relative;
      &::before {
         content: "";
         @extend %absolute-center;
         z-index: -2;
         opacity: .3;
         background-color: var.color(light-gray);
         box-shadow: 0 0 0 100vmax var.color(light-gray);
         clip-path: inset(-100vmax 0vmax -100vmax -100vmax);
         @media (max-width: var.breakpoint(medium)) {
            display: none;
         }
      }
      @media (min-width: var.breakpoint(medium)) {
         max-width: 680px;
      }
      @media (max-width: var.breakpoint(medium)) {
         font-size:  clamp(22px, 6vw, 62px);
      }
   }
   &__description {
      color: var.color(black);
      font-family: Nunito Sans;
      font-size:  clamp(14px, 3.4vw, 24px);
      font-weight: 300;
      line-height: 150%;
      letter-spacing: 1.2px;
      padding-left: 15px;
      padding-block: 5px;
      border-left: 1px solid var.color(black);
      max-width: 486px;
      @media (max-width: var.breakpoint(medium)) {
         border-bottom: 1px solid var.color(black);
         border-left: none;
      }
   }
   &__images-wrapper {
      position: absolute;
      transform: translateY(-30px);
      right: -40px;
      width: clamp(240px, 44vw, 530px);
      @media (max-width: var.breakpoint(medium)) {
         position: relative;
         transform: none;
         right: 0;
      }
      .shape {
         position: absolute;
         width: 7%;
      }
      .arrow2 {
         bottom: -5%;
         left: 5%;
      }
      .ellipse {
         bottom: 5%;
         right: 3%;
      }
   }
   &__buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      position: relative;
      width: fit-content;
      @media (max-width: var.breakpoint(medium)) {
         justify-content: center;
      }
   }
   &__button {
      color: var.color(black);
      font-family: Nunito Sans;
      font-size: 18px;
      font-weight: 700;
      padding-block: clamp(14px, 4vw, 20px);
      padding-inline: clamp(8px, 6vw, 43px);
      border: 1px solid var.color(black);
      cursor: pointer;
      @include mixin.transition(transform);
      @include mixin.flex-center($align-items: null);
      &:first-of-type {
         position: relative;
         background-color: var.color(bright-orange);
         border-color: var.color(bright-orange);
         color: var.color(white);
      }
      &:last-of-type {
         position: relative;
         @include mixin.transition;
         &:hover {
            color: var.color(white);
            border-color: var.color(bright-orange);
         }
         &::before {
            content: "";
            @extend %absolute-center;
            background-color: var.color(bright-orange);
            z-index: -1;
            clip-path: circle(15px at 50% 100%);
            @include mixin.transition;
         }
         &:hover::before {
            clip-path: circle(75%);
         }
      }
      &::after {
         $size: 2px;
         content: "";
         position: absolute;
         width: 0;
         height: $size;
         border-radius: $size * .5;
         background-color: var.color(white);
         bottom: 15px;
         @include mixin.transition(width, .2s);
      }
      &:hover::after {
         @include mixin.transition(width);
         width: 75%;
      }
   }
   @media (max-width: var.breakpoint(medium)) {
      align-items: center;
      text-align: center;
      gap: 20px;
   }
   &__long-arrow {
      position: absolute;
      left: clamp(0%, 43vw, 120%);
      top: 30%;
      width: clamp(80px, 20vw, 136px);
      @media (max-width: var.breakpoint(medium)) {
         left: 70%;
         top: 100%;
      }
      @media (max-width: var.breakpoint(x-small)) {
         left: 40%;
      }
   }
}